@model FoodStore.Models.Customer
@{
    Layout = null;
}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<!--<!DOCTYPE html>
<html>
<head>
    <title>Login Page</title>-->
<!--Made with love by Mutiullah Samim -->
<!--Bootsrap 4 CDN-->
<!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">-->
<!--Fontawesome CDN-->
<!--<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">


<style>
    /* Made with love by Mutiullah Samim*/-->
@*@import url('https://fonts.googleapis.com/css?family=Numans');*@

@*html, body {
        background-image: url('http://getwallpapers.com/wallpaper/full/a/5/d/544750.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        height: 100%;
        font-family: 'Numans', sans-serif;
    }

    .container {
        height: 100%;
        align-content: center;
    }

    .card {
        height: 370px;
        margin-top: auto;
        margin-bottom: auto;
        width: 400px;
        background-color: rgba(0,0,0,0.5) !important;
    }

    .social_icon span {
        font-size: 60px;
        margin-left: 10px;
        color: #FFC312;
    }

        .social_icon span:hover {
            color: white;
            cursor: pointer;
        }

    .card-header h3 {
        color: white;
    }

    .social_icon {
        position: absolute;
        right: 20px;
        top: -45px;
    }

    .input-group-prepend span {
        width: 50px;
        background-color: #FFC312;
        color: black;
        border: 0 !important;
    }

    input:focus {
        outline: 0 0 0 0 !important;
        box-shadow: 0 0 0 0 !important;
    }

    .remember {
        color: white;
    }

        .remember input {
            width: 20px;
            height: 20px;
            margin-left: 15px;
            margin-right: 5px;
        }

    .login_btn {
        color: black;
        background-color: #FFC312;
        width: 100px;
    }

        .login_btn:hover {
            color: black;
            background-color: white;
        }

    .links {
        color: white;
    }

        .links a {
            margin-left: 4px;
        }
        </style>
    </head>
    <body>
        <div class="container">
            <div class="d-flex justify-content-center h-100">
                <div class="card" style="height : 370px !important">
                    <div class="card-header">
                        <h3>Đăng nhập</h3>

                    </div>
                    <div class="card-body">
                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()

                            <div class="form-horizontal">
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div class="input-group form-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fas fa-user"></i></span>
                                    </div>
                                    @Html.TextBox("TenDN", null, new { @class = "form-control", placeholder = "username" })  @ViewData["Err2"]
                                </div>
                                <div class="input-group form-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fas fa-key"></i></span>
                                    </div>
                                    @Html.Password("MatKhau", null, new { @class = "form-control", placeholder = "password" })  @ViewData["Err2"]
                                </div>

                                <div class="form-group">
                                    <div style="display : flex" class="col-md-offset-2 ">
                                        <input style="margin: 0 auto" type="submit" value="Create" class="btn btn-default" />
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                    <div class="card-footer">
                        <div class="d-flex justify-content-center links">
                            Don't have an account?<a href="~/User/DangKy">Đăng ký</a>
                        </div>
                        <div class="d-flex justify-content-center">
                            <a href="#">Forgot your password?</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
    </html>-->*@

<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Quên mật khẩu </title>
    <!-- plugins:css -->

    <link rel="stylesheet" href="~/Areas/Admin/Content//css/vertical-layout-light/style.css">
    <!-- endinject -->
    <link rel="shortcut icon" href="~/Areas/Admin/Content/mages/favicon.png" />
    <style>
        body {
            background: #333;
        }

        .content-wrapper {
            background: url('../../content/images/bglogin.jpg') center center/cover;
        }

        .auth-form-light {
            border-radius: 10px;
            box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
        }

        .form-control-lg {
            border-radius: 10px;
        }

        a {
            text-decoration: none;
            font-weight: 600;
        }
    </style>
</head>

<body>
    <div class="container-scroller">
        <div class="container-fluid page-body-wrapper full-page-wrapper">
            <div class="content-wrapper d-flex align-items-center auth px-0">
                <div class="row w-100 mx-0">
                    <div class="col-lg-4 mx-auto">
                        <div class="auth-form-light text-left py-5 px-4 px-sm-5">
                            @using (Html.BeginForm())
                            {
                               
                                <h3 align="center" style="margin-bottom : 20px;">Quên mật khẩu ?</h3>
                                <h6 class="fw-light">Nhập vào Email tài khoản </h6>
                                
                                <form class="pt-3">
                                    <div class="form-group">
                                        @Html.TextBox("Email", "", null, new { @class = "form-control form-control-lg", placeholder = "Nhập vào email tài khoản" }) 

                                    </div>

                                   
                                    <div class="mt-3">
                                        <button type="submit" class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn">Gửi</button>
                                    </div>
                                    <div class="text-success">
                                        <p style="text-align :center; margin-top : 10px;">@ViewBag.Message</p> 
                                    </div>
                                </form>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <!-- content-wrapper ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="~/Areas/Admin/Content/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script src="~/Areas/Admin/Content/vendors/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
    <!-- End plugin js for this page -->
    <!-- inject:js -->

    <script src="~/Areas/Admin/Content/js/template.js"></script>

    <!-- endinject -->
</body>

</html>

