
@{
    ViewBag.Title = "ChiTIetSanPham";
    Layout = "~/Views/Shared/_LayoutProduct.cshtml";


}
<style>
   
    .text-warning, .list-inline > li {
        color: red;
        margin: 0;
        padding: 0;
        
    }
    .list-inline{
        margin-left : 0;
    }

    #txtCommentNew, select {
        border-radius: 10px;
    }
    select{
        padding : 5px;
    }
    textarea.input{
        width : 300px;
        float : right;
    }
    .review-form{
       
        justify-content : center;
        align-items : center;
    }
</style>

@{ var listcomment = (List<FoodStore.Models.CommentView.CommentViewModel>)ViewBag.ListComment;}
@{var kh = Session["TaiKhoan2"]; }

<link href="~/Content/bootstrap.min.css.map" rel="stylesheet" />

<style>
    .ctn {
        margin-top: 8rem;
    }

    .img-p {
        width: 40rem;
    }
    .btn-ct{
        align-items :center;
        justify-content :center;
    }
    .btn-ct p:hover {
        color: #fff;
    }
</style>
<div class="section">
    @foreach (var ctsp in Model)
    {
        <!-- container -->
        <div class="container ctn">
            <!-- row -->
            <div class="row">
                <!-- Product main img -->
                <div class="col-md-5">
                    <div id="product-main-img" class="slick-initialized slick-slider">

                        <div class="slick-list draggable">
                            <div class="slick-track" style="opacity: 1; width: 1496px;">
                                <div class="product-preview slick-slide slick-current slick-active" data-slick-index="0" aria-hidden="false" tabindex="0" style="width: 374px; position: relative; left: 0px; top: 0px; z-index: 999; opacity: 1; overflow: hidden;">
                                    <img src="~/Content/Images/@ctsp.Image" class="img-p" />
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
                <!-- /Product main img -->
                <!-- Product thumb imgs -->
                <div class="col-md-2  col-md-pull-5">
                    <div id="product-imgs" class="slick-initialized slick-slider slick-vertical">
                    </div>
                </div>
                <!-- /Product thumb imgs -->
                <!-- Product details -->
                <div class="col-md-5">
                    <div class="product-details">
                        <h2 class="product-name">@ctsp.ProductName</h2>
                        <div>


                        </div>
                        <div>
                            <h3 class="product-price">@String.Format("{0:0,00}", @ctsp.Price) đ</h3>

                        </div>
                        <p class="product-description" style="max-width: 450px; overflow: hidden; text-overflow: ellipsis; line-height: 25px; -webkit-line-clamp: 3; height: 75px; display: -webkit-box; -webkit-box-orient: vertical; ">@ctsp.Description</p>



                        <div class="add-to-cart">
                            <div class="qty-label">
                                Số lượng
                                <div class="input-number">
                                    <input type="number" name="step" id="" value="1" min="1" max="10" step="1">
                                    <span class="qty-up">+</span>
                                    <span class="qty-down">-</span>
                                </div>
                            </div>
                            @*<div class="add-to-cart">*@
                            <button class="add-to-cart-btn btn-ct" data-id="@ctsp.ProductId" id="@($"btn{ctsp.ProductId}")">
                                <i class="fa fa-shopping-cart"></i>
                                <a href="@Url.Action("ThemGioHang","GioHang",new { idproduct = ctsp.ProductId })">
                                    <p class="@($"text{ctsp.ProductId}") ">Thêm vào giỏ hàng</p>
                                </a>
                            </button>
                            @*</div>*@
                        </div>



                    </div>
                </div>
                <!-- /Product details -->
                <!-- Product tab -->
                <div class="col-md-12">
                    <div id="product-tab">
                        <!-- product tab nav -->
                        <ul class="tab-nav">
                            <li class=""><a data-toggle="tab" href="#tab1" aria-expanded="false">Mô tả sản phẩm</a></li>

                            <li class="active"><a data-toggle="tab" href="#tab3" aria-expanded="true">Đánh giá khách hàng</a></li>
                        </ul>
                        <!-- /product tab nav -->
                        <!-- product tab content -->
                        <div class="tab-content">
                            <!-- tab1  -->
                            <div id="tab1" class="tab-pane fade">
                                <div class="row">
                                    <div class="col-md-12">
                                        <p class="product-description">@ctsp.Description</p>
                                    </div>
                                </div>
                            </div>
                            <!-- /tab1  -->
                            <!-- tab2  -->
                            <!-- /tab2  -->
                            <!-- tab3  -->
                            <div id="tab3" class="tab-pane fade in active">
                                <div class="row">
                                    <!-- Rating -->
                                    <div class="col-md-3">
                                        <div id="rating">
                                            <div class="rating-avg">
                                                <span>4.5</span>
                                                <div class="rating-stars">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star-o"></i>
                                                </div>
                                            </div>
                                            <ul class="rating">
                                                <li>
                                                    <div class="rating-stars">
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                    </div>
                                                    <div class="rating-progress">
                                                        <div style="width: 80%;"></div>
                                                    </div>
                                                    <span class="sum">3</span>
                                                </li>
                                                <li>
                                                    <div class="rating-stars">
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star-o"></i>
                                                    </div>
                                                    <div class="rating-progress">
                                                        <div style="width: 60%;"></div>
                                                    </div>
                                                    <span class="sum">2</span>
                                                </li>
                                                <li>
                                                    <div class="rating-stars">
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star-o"></i>
                                                        <i class="fa fa-star-o"></i>
                                                    </div>
                                                    <div class="rating-progress">
                                                        <div></div>
                                                    </div>
                                                    <span class="sum">0</span>
                                                </li>
                                                <li>
                                                    <div class="rating-stars">
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star-o"></i>
                                                        <i class="fa fa-star-o"></i>
                                                        <i class="fa fa-star-o"></i>
                                                    </div>
                                                    <div class="rating-progress">
                                                        <div></div>
                                                    </div>
                                                    <span class="sum">0</span>
                                                </li>
                                                <li>
                                                    <div class="rating-stars">
                                                        <i class="fa fa-star"></i>
                                                        <i class="fa fa-star-o"></i>
                                                        <i class="fa fa-star-o"></i>
                                                        <i class="fa fa-star-o"></i>
                                                        <i class="fa fa-star-o"></i>
                                                    </div>
                                                    <div class="rating-progress">
                                                        <div></div>
                                                    </div>
                                                    <span class="sum">0</span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!-- /Rating -->
                                    <!-- Reviews -->
                                    <div class="row">
                                        <div class="col-md-6">
                                             @{ Html.RenderAction("GetComment", "Products", new { productid = ctsp.ProductId });}
                                        </div>



                                  <div class="row">
                                            <div class="col-md-3 b">
                                                <div id="review-form">
                                                    <form class="review-form">

                                                        <textarea class="input" id="txtCommentNew" placeholder="Nhập nội dung"></textarea>
                                                        <div class="input-rating">
                                                            <span>Đánh giá: </span>
                                                            <div class="stars">
                                                                <select id="dllRate" class="form-select form-control-sm">
                                                                    <option value="5" selected="">-----★★★★★(5/5)-----</option>
                                                                    <option value="4">-----★★★★☆(4/5)-----</option>
                                                                    <option value="3">-----★★★☆☆(3/5)-----</option>
                                                                    <option value="2">-----★★☆☆☆(2/5)-----</option>
                                                                    <option value="1">-----★☆☆☆☆(1/5)-----</option>

                                                                </select>

                                                            </div>
                                                        </div>
                                                        <div style="display: flex; justify-content : center;width : 100%">
                                                            <button type="button" class="btn primary-btn block" id="btnCommentNew" data-productId="@ctsp.ProductId" data-customerid="@kh" style="width : 200px">Gửi đánh giá</button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                            <!-- /Review Form -->
                                        </div>
                                    </div>
                                    </div>
                                    </div>
                            <!-- /tab3  -->
                        </div>
                        <!-- /product tab content  -->
                    </div>
                </div>
            </div>
        </div>

    }
    <!-- /container -->
</div>

    @section script{

        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/5.5.3/bootbox.min.js" integrity="sha512-U3Q2T60uOxOgtAmm9VEtC3SKGt9ucRbvZ+U3ac/wtvNC+K21Id2dNHzRUC7Z4Rs6dzqgXKr+pCRxx5CyOsnUzg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="~/Models/CommentView/Comment.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ajaxy/1.6.1/scripts/jquery.ajaxy.min.js" integrity="sha512-bztGAvCE/3+a1Oh0gUro7BHukf6v7zpzrAb3ReWAVrt+bVNNphcl2tDTKCBr5zk7iEDmQ2Bv401fX3jeVXGIcA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    }

    @section GioHang{

        <script src="~/Scripts/Cart.js"></script>

    }