
@{
    ViewBag.Title = "TimKiem";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3 align="center">Danh sách kết quả cho: @ViewBag.search</h3>
@foreach (var p in Model)
{
    <!-- product -->
    <div class="col-sm-4 col-md-4 col-lg-4 col-xs-6">
        <div class="product">
            <div class="product-img">
                <img src="~/Content/Images/@p.Image" alt="" class="img-product">
                
            </div>
            <div class="product-body">
                @*<p class="product-category">Category</p>*@
                <h3 class="product-name"><a href="~/Products/ChiTietSanPham/@p.ProductId">@p.ProductName</a></h3>
                <h4 class="product-price">@String.Format("{0:0,00}", @p.Price)đ@*<del class="product-old-price">@p.Price</del>*@</h4>


            </div>
            <div class="add-to-cart">
                <button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> Mua ngay</button>
            </div>
        </div>
    </div>
}

